name: Günlük Panel Güncelleme

on:
  schedule:
    - cron: '0 */3 * * *' # Her 3 saatte bir çalışır
  workflow_dispatch: # Manuel tetikleme için

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Repoyu Çek (Checkout)
        uses: actions/checkout@v4

      - name: Python Kurulumu
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Kütüphaneleri Yükle
        run: |
          pip install requests beautifulsoup4 urllib3

      - name: Scripti Çalıştır
        run: python deathless-andro-panel.py

      - name: Değişiklikleri Kaydet (Commit & Push)
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add DeaTHLesS-andro-panel.m3u
          git commit -m "M3U Listesi Güncellendi" || exit 0
          git push
